<mat-card *ngIf="chartData.length; else emptyMessage" class="chart-card">
  <div #containerRef class="chart-wrapper">
    <ngx-charts-bar-vertical
      [view]="[containerRef.offsetWidth, 400]"
      [customColors]="customColors"
      [results]="chartData"
      [showDataLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [animations]="false"
      [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-bar-vertical>
  </div>
</mat-card>

<ng-template #emptyMessage>
  <p class="empty-chart-text">No charts available, please click on the "+" button to add a new tab or chart.</p>
</ng-template>

<button
  *ngIf="activeTabId && !chartData.length"
  (click)="addChart()"
  class="add-chart-button"
  mat-fab
  color="primary"
  aria-label="Add chart button"
>
  <mat-icon>add</mat-icon>
</button>
