:host {
  flex-shrink: 0;

  .sidebar-heading {
    font-weight: 400;
    margin: 8px 0;
  }

  .divider {
    margin-top: 5px;
  }

  .slider-card {
    width: 300px;
    margin-top: 40px;
    padding: 45px 15px 100px;
  }
}
